<div>
    <p></p>
    <h3>Cart</h3>
    <table class="table table-hover">
        <tr>
            <td>Item</td>
            <td>Qunatity</td>
            <td>Price</td>
        </tr>
        <tbody>
        <tr ng-repeat="item in cart.items">
            <td>{{item.productTitle}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.pricePerProduct + ' x ' + item.quantity + ' = ' + item.price}}</td>
        </tr>
        <tr>
            <td></td>
            <td>Total</td>
            <td>{{Cart.totalPrice}}</td>
        </tr>
        </tbody>
    </table>
    <p>
        <button class="btn btn-secondary" ng-click="clearCart()">Clear cart</button>
    </p>

    <p></p>
    <h3>Order details</h3>
    <form novalidate>
        <input class="form-control" type="text" placeholder="Phone number" ng-model="orderDetails.phone">
        <p></p>
        <input class="form-control" type="text" placeholder="Delivery address" ng-model="orderDetails.address">
        <p></p>
    </form>

    <button class="btn btn-primary" ng-click="checkOut()" ng-show="isUserLoggedIn() && cart.items.length > 0">Create order</button>
    <button class="btn btn-secondary" ng-click="disabledCheckOut()" ng-show="!isUserLoggedIn() && cart.items.length > 0">Create order</button>
</div>